// Header utilities
.btn-outline-primary {
  &:hover{
    color: $third
  }
  &:focus{
    box-shadow: 0 0 0 0.18rem rgb(144 122 123 / 50%);
  }
}

.btn-custom{
  width: 96px;
  height: 40px;
  @include media-breakpoint-down(lg) {
    width: 140px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    height: 32px;
    font-size: 14px;
    padding: 4px 20px 3px 20px
  }
}

// Footer utilities
.subscribe-btn{
  width: 350px;
  @include media-breakpoint-down(lg) {
    width: 330px;
  }
  @include media-breakpoint-down(md) {
    width: 345px;
  }
}
.placeholder-primary{
  &::placeholder {
    color: $primary;
    opacity: 1;
  }
  &:focus{
    box-shadow: none;
  
  }
}
.subscribe-text-secondary{
  text-align: center;
  width: 72px;
  color: #fff;
  background: $secondary;
  border: $secondary;
  border-radius: 0 4px 4px 0;
  &:focus{
    box-shadow: 0px 0px 5px $white;
  }
}

// homeView
.btn-third{
  width: 112px;
  height: 46px;
  background: $third;
  color: $gray;
  border-radius: 4.8px 4.8px 4.8px 4.8px;
  &:hover{
    background: $secondary;
    color: #fff;
    border: $secondary;
  }
  &:focus{
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.25rem rgb(163 139 140 / 50%);
  }
}
.btn-secondary{
  width: 112px;
  height: 46px;
  background: $secondary;
  color: #fff;
  border-radius: 4.8px 4.8px 4.8px 4.8px;
  &:hover{
    background: $primary;
  }
}

//product 
.search-btn{
  width: 350px;
  @include media-breakpoint-down(lg) {
    width: 270px;
  }
  @include media-breakpoint-down(md) {
    width: 231px;
  }
}

.search-text-primary{
  text-align: center;
  width: 56px;
  color: #fff;
  background: $primary;
  border: $secondary;
  border-radius: 0 4px 4px 0;
  &:focus{
    box-shadow: 0px 0px 5px $white;
  }
}

// modal
.btn-third-modal{
  width: 112px;
  height: 46px;
  background: $third;
  color: $primary;
  border-radius: 4.8px 4.8px 4.8px 4.8px;
  &:hover{
    background: $primary;
    color: #fff;
    // border: $primary;
  }
  &:focus{
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0.25rem rgb(163 139 140 / 50%);
  }
}