.w-700 {
  @include media-breakpoint-up(lg) {
    min-width: 640px;
  }
  @include media-breakpoint-up(xxl) {
    min-width: 700px;
  }
}
.w-729 {
  @include media-breakpoint-down(lg) {
    min-width: 729px;
  }
}
.w-106 {
  width: 114px;
}
.w-notice{
  width: 579px;
  @include media-breakpoint-down(lg) {
    width: 514px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
